/* Write your code here. */
.container {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
.league-container {
  width: 60vw;
  height: 50vh;
}
.heading {
  color: #f8fafc;
  text-align: center;
}

@media (min-width: 576px) {
  .heading {
    font-size: 50px;
  }
}
.sport_image {
  width: 50%;
}
